@page "/"
@using System.Net.Http
@using TCC.Domain.Entities;
@using System.Net.Http.Headers; 
@inject HttpClient Http

<h1>Hello, world!</h1>

@if (!string.IsNullOrEmpty(ExceptionMessage))
{
    <div>@ExceptionMessage</div>
}

@if (CategoryList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Category Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in CategoryList)
            {
                <tr>
                    <td>@c.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Category[] CategoryList;
    private string ExceptionMessage;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var token = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiJzZWFuaGFkZG9jayIsImp0aSI6ImJjZDA5MzNmLTEwYmEtNDMzOC04MTc0LTU4MGJlY2JmNzcwZSIsImVtYWlsIjoic2VhbmhhZGRvY2tAbGl2ZS5jb20iLCJ1aWQiOiJmNTNlNDBkMi1jN2I3LTQyMTAtYmQ1Yi01ODI1NDFmMjE5ZDEiLCJleHAiOjE2MjE5NzczNzgsImlzcyI6IlRjY0lkZW50aXR5IiwiYXVkIjoiVGNjSWRlbnRpdHlVc2VyIn0.Ams1izDOXlH7OuUSjFaW834SpEB6gaSjdotg38bdJKo";
            Http.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer", token);
            CategoryList = await Http.GetFromJsonAsync<Category[]>("api/category/all");
        }
        catch (Exception ex)
        {
            ExceptionMessage = ex.Message;
        }
    }
}
