@page "/"
@using System.Net.Http
@using TCC.Domain.Entities;
@inject HttpClient Http

<h1>Hello, world!</h1>

@if (CategoryList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Category Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var c in CategoryList)
            {
                <tr>
                    <td>@c.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Category[] CategoryList;

    protected override async Task OnInitializedAsync()
    {
        CategoryList = await Http.GetFromJsonAsync<Category[]>("api/category/all");
    }
}
