@page "/categories"

<h3>Categories</h3>


@if (CategoryList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
        <thead>
            <tr>
                <th>Category Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var c in CategoryList)
                {
                    <tr>
                        <td>@c.Name</td>
                    </tr>
                }
        </tbody>
    </table>
}
